* {
    font-size: 12px;
    color: #bec8e7;
    font-weight: 500;
    font-family: "JetBrainsMono NFP";
    margin: 0;
    padding: 0;
}

.yasb-bar {
    padding: 0;
    margin: 0;
}

.widget {
    padding: 0 8px;
    margin: 0 4px;
    border-radius: 6px;
}

.widget .icon {
    font-size: 18px;
}

.win-btn {
    background-color: #fab387;
}

.win-btn .icon {
    color: #1e1e2e;
}

.komorebi-workspaces {
    background-color: #1e1e2e;
}

.komorebi-workspaces .offline-status {
    color: #7f849c;
    font-size: 12px;
    padding: 0 4px;
    font-weight: 600;
}

.komorebi-workspaces .ws-btn {
    border: none;
    background-color: #eba0ac;
    margin: 0px 4px;
    padding: 0;
    color: rgba(0, 0, 0, 0);
    border-radius: 5px;
    height: 10px;
    width: 10px;
}

.komorebi-workspaces .ws-btn:hover {
    background-color: #74c7ec;
}

.komorebi-workspaces .ws-btn.populated {
    background-color: #b4befe;
}

.komorebi-workspaces .ws-btn.active {
    color: rgba(149, 177, 255, 0);
    background-color: #74c7ec;
    width: 36px;
    height: 10px;
    border-radius: 5px;
}

.traffic-widget {
    background-color: #74c7ec;
    padding: 0;
}

.traffic-widget .icon {
    color: #1e1e2e;
    padding-right: 6px;
    padding-left: 6px;
}

.traffic-widget .label {
    background-color: #1e1e2e;
    margin: 1px;
    border-radius: 6px;
    padding: 0 6px;
    color: #74c7ec;
}

.clock-widget {
    background-color: #89b4fa;
    padding: 0;
}

.clock-widget .icon {
    color: #1e1e2e;
    font-size: 20px;
    padding: 0 6px 0 9px;
}

.clock-widget .label {
    background-color: #1e1e2e;
    color: #89b4fa;
    padding: 0 6px;
    margin: 1px;
    border-radius: 6px;
}

.volume-widget {
    background-color: #f38ba8;
    padding: 0;
}

.volume-widget .icon {
    color: #1e1e2e;
    padding: 1px 6px 0 8px;
}

.volume-widget .label {
    background-color: #1e1e2e;
    color: #f38ba8;
    padding: 0 8px;
    margin: 1px;
    border-radius: 6px;
}

.weather-widget {
    background-color: #f9e2af;
    padding: 0;
}

.weather-widget .icon {
    color: #1e1e2e;
    padding: 0 6px 0 8px;
}

.weather-widget .label {
    background-color: #1e1e2e;
    color: #f9e2af;
    padding: 0 6px;
    margin: 1px;
    border-radius: 6px;
}

.power-menu-widget {
    background-color: #cba6f7;
    padding: 0;
}

.power-menu-widget .label {
    color: #1e1e2e;
    padding: 0 10px;
    font-weight: bold;
    font-size: 14px;
}

.taskbar-widget {
    background-color: #1e1e2e;
    padding: 0;
}

.taskbar-widget .app-icon {
    padding: 0 8px;
    border: none;
    margin: 0;
}

.active-window-widget {
    background-color: #cba6f7;
    padding: 0;
}

.active-window-widget .label {
    color: #cba6f7;
    background-color: #1e1e2e;
    padding: 0 8px;
    margin: 1px;
    border-radius: 6px;
}

.active-window-widget .icon {
    padding: 0 8px;
    border: none;
    margin: 0;
    background-color: #c6a7e8;
}

/*POWER MENU POPUP*/
.uptime {
    font-size: 14px;
    margin-bottom: 10px;
    color: rgba(191, 202, 219, 0.726);
    font-weight: 600;
}

.power-menu-popup {
    background-color: rgba(24, 24, 37, 0);
    border-radius: 12px;

}

.power-menu-popup .button {
    padding: 0;
    width: 180px;
    height: 230px;
    border-radius: 8px;
    background-color: #221f2e;
    color: #c2a7e2;
    border: 8px solid #1b1925;
    margin: 0px;
}

.power-menu-popup .button.hover {
    background-color: #1b1925;
}

.power-menu-popup .button .label {
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 500;
    color: #c5a6e7;

}

.power-menu-popup .button .icon {
    font-size: 64px;
    padding-top: 32px;
    color: #c5a6e7;
}

.power-menu-popup .button.cancel .icon {
    padding: 0;
    margin: 0;
}

.power-menu-popup .button.cancel .label {
    margin: 0;
}

.power-menu-popup .button.cancel {
    height: 32px;
    border-radius: 4px;
    border: none;
    background-color: #221f2e;
}

.power-menu-popup .button.cancel:hover {
    background-color: #1b1925;
}

/* MEDIA WIDGET */
.media-widget {
    background-color: #a6e3a1;
    padding: 0;
}

.media-widget .label {
    background-color: #1e1e2e;
    margin: 1px;
    border-radius: 6px;
    padding: 0 6px;
    color: #a6e3a1;
}

.media-widget .btn {
    color: #1e1e2e;
    font-family: Segoe Fluent Icons;
    font-size: 18px;
}

.media-widget .btn:hover {
    color: #45475a;
}

.media-widget .btn.prev {
    padding: 0px 6px 0px 6px;
}

.media-widget .btn.play {
    font-size: 22px;
    padding-top: 2px;
}

.media-widget .btn.next {
    padding: 0px 4px 0px 6px;
}

.media-widget .btn.disabled:hover,
.media-widget .btn.disabled {
    color: #4e525c;
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0);
}

.systray {
    background: transparent;
    border: None;
    margin: 0;
}

.systray .button {
    border-radius: 4px;
    padding: 2px 2px;
}

.systray .unpinned-visibility-btn {
    border-radius: 4px;
    height: 20px;
    width: 16px;
}

.systray .pinned-container[forceshow=true] {
    background: #74c7ec;
}

.systray .button[dragging=true] {
    background: #74c7ec;
    border-color: #74c7ec;
}